*{
    margin: 0;
    padding: 0;
    box-sizing: border;
    text-decoration: none;
    list-style: none;
    color: black;
}
:root{
    ---corPrimaria:#3f7373;
    ---corTexto:#000000;
    ---CorBranca:#BABDBF;
}
body{
    width: 100%;
}
.header{
    width: 100%;
    background-color: var(---corPrimaria);
    padding-top: 0.5em;
    justify-content: space-evenly;
    display: flex;
}
.header img{
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    width: 3em;
}
.header img:hover{
    transform: scale(1.2);
    cursor: pointer;
}

.menubar{
    gap: 1em;
    display: flex;
}
.menubar a{
    color: white;

}
.menubar li{
    font-size: 17px;
    padding-top: 0.5em;
}
.menubar li{
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);

}
.menubar li:hover{
    text-decoration: underline;
    color: white;
    cursor: pointer;
    transform: scale(1.2);
}
main{
    background-color: var(---CorBranca);
}
.menugames{
    width: 100%;
    display: flex;
}
h1{
    text-align: center;
}
.caixa{
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2em;
    width: 100%;
    gap: 2em;
    display: flex;
}
.caixa img{
    width: 20em;
    display: flex;
    border-radius: 100px;
    transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.caixa img:hover{
    box-shadow: 2px 2px 10px yellow;
    transform: scale(1.1);
    cursor: pointer;
}
.galeria{
    padding: 2em;
    display: none;
    justify-content: center;
}
.prt{
    justify-content: center;
    max-width: 90%;
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
}
.prt img{
    width: 25em;
    border-radius: 20em;
}
button{
    cursor: pointer;
}
fotter p{
    font-size: 15px;
}
footer{
    font-size: 20px;
    padding-top:2em ;
    padding-bottom:10%;
    max-width: 100%;
    background-color: var(---corPrimaria);
    text-align: center;
}
.oculto label{
    font-size: 20px;
}
footer img{
    border-radius: 25px;
}
.oculto{
    padding-bottom: 2em;
    padding-top: 0.3em;
    opacity: 0;
    text-align: center;
    transition: all 2s cubic-bezier(0.215, 0.610, 0.355, 1);
    visibility: hidden;
}
footer img{
    cursor: pointer;
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) ;
}
footer img:hover{
    transform:scale(1.01);
}
.oculto.mostrar{
    opacity:1;
    visibility:visible;
}
strong a{
    color: white;
}
strong:hover{
    cursor: pointer;
}