*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #007d9a;
    width: 100%;
}
.principal img{
    transition: all 0.5s ease;
    width: 3.5em;
}
.principal img:hover{
    transform: scale(1.5);
}
header{
    width: 100%;
    border-radius: 1px;
    background-color:  #007d9a ;
}
.barrinha{
    display: flex;
    justify-content: center;
}
.nav li a{
    font-size: 1.2em;
    border-radius: 5px;
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    color: black;
    text-decoration: none;
}
.footer a:hover{
    color: white;
}
a{
    text-decoration: none;
}
.nav{
    display: flex;
    list-style-type: none;
    gap: 15px;
    margin-top: 15px;

}
.barrinha img:hover{
    cursor: pointer;
}

.nav li a:hover{
    border-color: red;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(1, 2, 0);
    color: white;
    box-shadow: 1px 1px 5px black;
}
main{
    display: flex;
    width: 100%;
    background-color: #454545;
    justify-content: center;
}
.main img{
    transition:all 0.4s cubic-bezier(.68,-0.55,.27,1.55);
    justify-content: center;
    margin-top: 150px;
    margin-left: 50px;
    border-radius: 25px;
}
.main img:hover{
    cursor:pointer;
    transform: scale(1.1);
    box-shadow: 1px 1px 10px yellow;
}
.footer{
    display: flex;
    justify-content:center;
    background-color: #007d9a;
    width: 100%;
}
.footer p{
    margin: 2em;
    margin-top: 55px;
    font-size: 20px;
}
.forte:hover{
    color: white;
    cursor: pointer;
}