*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #007d9a;
    width: 100%;
}
.principal img{
    transition: all 0.5s ease;
    width: 55px;
    margin-left: 55px;
}
.principal img:hover{
    transform: scale(1.6);
}
header{
    width: 100%;
    border-radius: 1px;
    background-color:  #007d9a ;
    box-shadow: 0px 1px 1px #010a0e;
}
.barrinha{
    display: flex;
    justify-content: space-evenly;
}
.nav li a{
    border-radius: 5px;
    transition: all 0.5s ease;
    margin: 5px;
    padding: 1px;
    color: black;
    text-decoration: none;
}
.nav{
    display: flex;
    list-style-type: none;
    gap: 15px;
    margin-top: 15px;

}
.barrinha img:hover{
    cursor: pointer;
}
.nav li a:hover{
    transform: scale(1.2);
    border-color: red;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(1, 2, 0);
    color: white;
    box-shadow: 1px 1px 5px black;
}
main{
    display: flex;
    width: 100%;
    background-color: #454545;
    justify-content: center;
}
.main img{
    transition:all 0.4s cubic-bezier(.68,-0.55,.27,1.55);
    justify-content: center;
    margin-top: 150px;
    margin-left: 50px;
    border-radius: 25px;
}
.main img:hover{
    cursor:pointer;
    transform: scale(1.1);
    box-shadow: 1px 1px 10px yellow;
}
.footer{
    display: flex;
    justify-content:center;
    background-color: #007d9a;
    width: 100%;
}
.footer p{
    margin: 2em;
    margin-top: 55px;
    font-size: 20px;
}
.forte:hover{
    color: white;
    cursor: pointer;
}