*{
    margin: 0;
    padding: 0;
    box-sizing: border;
    text-decoration: none;
    list-style: none;
    color: black;
}
:root{
    ---corPrimaria:#3f7373;
    ---corTexto:#000000;
    ---CorBranca:#BABDBF;
}
body{
    width: 100%;
}
.header{
    width: 100%;
    background-color: var(---corPrimaria);
    padding-top: 0.5em;
    justify-content: space-evenly;
    display: flex;
}
.header img{
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    width: 3em;
}
.header img:hover{
    transform: scale(1.2);
    cursor: pointer;
}

.menubar{
    gap: 1em;
    display: flex;
}
.menubar a{
    color: white;

}
.menubar li{
    font-size: 17px;
    padding-top: 0.5em;
}
.menubar li{
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);

}
.menubar li:hover{
    text-decoration: underline;
    color: white;
    cursor: pointer;
    transform: scale(1.2);
}
main{
    background-color: var(---CorBranca);
}
.menugames{
    width: 100%;
    display: flex;
}
body{
    color: var(--corTexto);
    max-width: 100%;
    background-color: var(--CorBranca);
}
main{
    max-width: 100%;
}
.principal{
    justify-content: center;
    max-width: 100%;
    display: flex;
}
.caixa{
    gap: 1em;
    display: flex;
}
.principal img{
    border-radius: 25px;
    width: 30em;
}
.caixa img:hover{
    box-shadow: 1px 1px 20px rgba(255, 0, 0, 0.726);
}
p{
    font-size: 20px;
}
.escondido{
    transition:all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    visibility: hidden;
    opacity: 0;
}
.escondido.mostrar{
    visibility: visible;
    opacity: 1;
}