*{
    padding: 0;
    margin: 0;
    box-sizing:border-box ;
    text-decoration: none;
    list-style: none;

}
header h2{
    cursor: pointer;
}
.back{
    width: 100%;
    background-color: #1E2235;
    color:  #FFFFFF;
    transition: background-color 1.5s, color 1s;
}
.back.claro{
    color: black;
    background-color: #ffffff;
}
.back.claro a{
    color: black;
}
.back.claro .nome{
    color: rgb(95, 78, 78);
}
.back.claro .menubar img{
    filter: brightness(0);
}
.back.claro .skills h1{
    color: black;
}
.back.claro .skills{
    color: white;
}
header{
    max-width: 100%;
    padding-top: 1em;
    display: flex;
    justify-content: space-evenly;
}
.menubar{
    gap: 10px;
    display: flex;
}
.menubar li a{
    display: block;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    font-size: 19px;
    color: #FFFFFF;
}

.menubar li a:hover{
    transform: scale(1.1);
    cursor: pointer;
    color: rgba(235, 204, 204, 0.884);
}

.menubar img{
    width: 1.6em;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.menubar img:hover{
    cursor: pointer;
    transform: scale(1.3);
}
main{
    max-width: 100%;
}
.principal{
    max-width: 100%;
    padding-top: 5em;
    text-align: center;
}
.principal h1{
    font-size: 50px;
    padding-bottom: 1em;
}
.principal h2{
    font-size: 25px;

}
.principal p{
    padding-top: 1em;
    font-size:20px ;
}
.nome{
    color: #f3edede3;
}


.projetos{
    gap: 10px;
    padding-top: 5em;
    display: flex;
    justify-content: center;
}

.caixa{
    flex-shrink: 1;
    max-width: 50%;
    flex-wrap: wrap;
    box-shadow: 2px 1px 2px #515fa5;
    background-color: rgba(47, 54, 88, 0.604);
    border-radius: 25px;
    padding: 1em;
    text-align: center;
    border: solid 1px #1E2235;
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.caixa:hover{
    transform: translateY(-10px);
    background-color: #1E2235;
}
.caixa img{
    border-radius: 25px;
    width: 300px;
}
.botao{
    padding-top: 1em;
}
.botao button{
    font-size: 15px;
    border-radius: 25px;
    color: white;
    background-color: #1E2235;
    padding: 0.2em;
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.botao button:hover{
    transform: scale(1.1);
    cursor: pointer
}
.links{
    padding-top:1em;
}
.links img{
    cursor: pointer;
    width: 2.1em;
}


.skills{
    text-align: center;
    justify-content: center;
    display: flex;
    padding-top: 5em;
}

.caixaskills{
    padding-top: 1em;
    gap: 1em;
    display: flex;
}
.caixaskills li{
    border-radius: 25px;
    padding: 10px;
    background-color: #191d30;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.caixaskills li:hover{
    font-style: bold;
    cursor: pointer;
    transform: translateY(-5px) scale(1.1);
    box-shadow: 1px 1px 1px #30375a;
}
.contato{
    flex-wrap: wrap;
    padding-top: 5em;
    justify-content: center;
    display: flex;
}
.contato div img{
    margin: 1em 1em;
    display: flex;
    flex-wrap: wrap;
    width: 45px;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.contato div img:hover{
    cursor: pointer;
    transform: scale(1.1);
}
#oculto{
    display: none;
}

@media screen and (max-width:700px) {
    body{
        width: 100%;
    }
    header{
        max-width: 100%;
    }
    .principal h1{
        font-size: 35px;
    }
    .principal h2{
        font-size: 19px;
    }
    .principal p{
        font-size: 19px;
    }
    .projetos{
        flex-wrap: wrap;
    }
    main{
        max-width: 100%;
    }
    .caixa{
        max-width: 350px;
        width: 320px;
        flex-shrink: 1;
    }
    .caixaskills{
        justify-content: center;
        flex-wrap: wrap;
    }
}